input[type=text] {
    font-family: 'Roboto Mono', monospace;
    border: none;
}

table {
    table-layout: fixed;
    width: auto;
}

td {
    width: 100%;
    direction: ltr;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#calculateButton {
    border-radius: 0.35em;
}

#calculateButton:hover {
    /* transform: scale(1.02); */
    text-decoration: underline;
    box-shadow: 0px 2px 5px 0px #00f;
}

#calculator button {
    border: none;
    margin: 2px;
    padding: 4px;
}

#calculator button:hover {
    background-color: #d1c8f5;
    color: #333;
    /* transform: scale(1.1); */
}

#results {
    height: 120px;
    background-color: #93aee861;
    text-align: end;
    padding: 8px;
    line-height: 8px;
    overflow-y: scroll;
    color: rgb(89, 89, 89);
}
